<!--Main layout-->
<main class="vennbahngrijs">
    <div class="container">

        <div class="row">
            <div class="col-md-12 pt-5">
                <h2>Orange - Manosque</h2>
                <h5>Etappe 10 - 120 KM</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 pt-5">
                      <h4>De route</h4>
                      Deze route gaat van Tournon naar Orange.
                      Vanaf Lyon ben ik alleen verder gefietst. Mijn vader had zitvlakproblemen en teveel pijn om verder te fietsen.
                      Hij is opgepikt door mijn moeder en broer want we hadden afgesproken in hetzelfde hotel in Tournon.<br><br>

                      De route gaat eerst langs de Rhone en vervolgens door de stad Valance.
                      De route is 20 km lang en loopt geleidelijk naar beneden. <br> <br>

                      In Valance is onduidelijk waar de fietspaden zijn. Pas als je in het stadspark bent gekomen, kun je het fietspad verder
                      volgen. Je steekt na Valance een
                      brug over en dan kom je op een rustig rechtdoorgaand fietspad die helemaal naar Pont-Saint-Esprit loopt.
                      Dit fietspad loopt heel gelijdelijk naar beneden waarbij je makkelijk
                      snelheden van 40km per uur of meer kan halen.<br> <br>

                      Halverwege kom je een indrukwekkende kerncentrale tegen en een mooie hangbrug zoals te zien is op de foto.
                      Als je bij Pont-Saint-Esprit bent aangekomen, moet je richting Orange. Dit is vooral over rustige landwegen. <br> <br>

                      Het is misschien niet de mooiste route maar wel de route waarmee je snel kilometers maakt.
                      De route is een lichte afdaling, je hebt wind mee en het wegdek is goed. Bovendien kom je bijna niemand tegen.

                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-5">
                    <img src="../../assets/Manosque.jpg" width="100%" height="100%">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pt-5">
               <h4>Waar moet je op letten</h4>
               Voor de laatste beklimming waren mijn beide bidons leeg. Ik ben daarom naar het eerste beste restaurant gegaan en gevraagd of zijn mijn bidons wouden vullen. 
               Dit doen ze met alle liefde en het is ook leuk om elkaar verhaal aan te horen. <br> <br> 

               Toen ik in Manosque was aangekomen was mijn telefoon leeg en daar stond het adress van het hotel in. Daarom besloot ik om de telefoon winkel (rechts in de foto)
               gewoon in te lopen en te vragen of ik mijn telefoon mocht opladen. Had ik dit niet gedaan dat was ik de hele avond opzoek naar het juiste hotel. <br> <br>

               Conclusie: Maak gebruik van de locals.

               
               
              
            </div>

        </div>



        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d71446.96125592505!2d5.009537658933431!3d44.048963764199385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e1!4m5!1s0x12b590b375eebce1%3A0xad1d8ad5844581fa!2sOrange%2C%20Frankrijk!3m2!1d44.138098899999996!2d4.807511!4m5!1s0x12cbcdb3ba6c6b09%3A0x1bd50854176f8011!2sManosque%2C%20Frankrijk!3m2!1d43.835744!2d5.790916!5e0!3m2!1snl!2snl!4v1663327228776!5m2!1snl!2snl"
        class="mt-5 mb-5" width="100%" height="600px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
       </iframe>

    </div>
  </main>




