<!--Main layout-->
<main class="vennbahngrijs">
    <div class="container">

        <div class="row">
            <div class="col-md-12 pt-5">
                <h2>Luxeuil-les-Bains - Gray</h2>
                <h5>Etappe 5 - 100 KM</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 pt-5">
                     <h4>De route</h4>
                        De route is van Luxeuil-les-Bains naar Gray. Om weer op de route te raken, moesten we 40 kilometer door de binnenlanden fietsen.<br> <br>
                        In Port-Sur-Saône kwamen we weer op de route. Deze 40 kilometer naar Port-Sur-Saône gaat over gewone provinciale wegen van dorpje naar dorpje.
                        Helaas geen fietspaden dit stuk.<br> <br>


                        Als je bij het plaatsje Port-Sur-Saône bent aangekomen, kun je verder over het fietspad dat parallel
                        loopt aan de Saône. Dit fietspad naast de Saône loopt volledig door naar het plaatsje Gray.<br><br>

                        Net zoals bij de vorige etappe heeft deze rivier ook om de honderden meter een sluis die steeds iets hoger ligt
                        waardoor je geleidelijk klimt.

                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-5">
                    <img src="../../assets/Tjeerd Gray.jpg" width="100%" height="100%">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pt-5">
                <h4>Waar moet je op letten</h4>
                Na het plaatsje Port-Sur-Saône is het wegdek niet overal even goed.
                Ga daarom niet te snel ook al is het verleidelijk vanwege de geleidelijke daling.
            </div>
        </div>

        <div class="row">
          <div class="col-md-12 pt-5">
            <ng2-adsense
            [display]="'inline-block'">
            </ng2-adsense>
          </div>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m34!1m12!1m3!1d80961.99017352847!2d6.332678515729278!3d47.791246616739954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m19!3e1!4m5!1s0x4792560cfddc9855%3A0xe3dc399224613355!2sLuxeuil-les-Bains%2C%20Frankrijk!3m2!1d47.816840899999995!2d6.381111!4m5!1s0x4792e9598a516499%3A0x409ce34b30efea0!2sPort-sur-Sa%C3%B4ne%2C%20Frankrijk!3m2!1d47.688693!2d6.0425949999999995!4m5!1s0x4792ada6b2792965%3A0x8473589eaa5cd78f!2sGray%2C%20Frankrijk!3m2!1d47.445823999999995!2d5.592353999999999!5e0!3m2!1snl!2snl!4v1662285616086!5m2!1snl!2snl"
        class="mt-5 mb-5" width="100%" height="600px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
       </iframe>

    </div>
</main>
