<!--Main layout-->
<main class="vennbahngrijs">
    <div class="container">

        <div class="row">
            <div class="col-md-12 pt-5">
                <h2>Nancy - Luxeuil-les-Bains</h2>
                <h5>Etappe 4 - 150 KM</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 pt-5">
                     <h4>De route</h4>
                        Deze route is van Nancy naar Luxeuil-les-Bains. Dit vonden wij zelf een van de mooiste stukken om te fietsen.
                        De eerste 80 kilometer fiets je naar het stadje Epinal. <br> <br>
                        Hierbij fiets je opnieuw langs de Moezel, later overgaand in een kanaal. In dit kanaal zitten meer dan 100 sluizen.
                        Om de 500 meter fiets je een klein stukje omhoog, waardoor je in totaal meer dan 80 meter steigt.
                        Na Epinal gaat dit ook zo weer na beneden waardoor je een hele soepele afdaling krijgt. <br> <br>

                        Na 120 kilometer genieten, moesten we dit fietspad helaas verlaten om naar Luxeuil-les-Bains te gaan.
                        Dit was helaas 30 kilometer met druk autoverkeer. <br> <br>

                        Als je een hotel dichter bij de <a href="https://nl.francevelotourisme.com/fietsroute/v50-de-moselle-saone-fietsroute/epinal-bains-les-bains" target="_blank">route</a> kan vinden, is dit aan te raden.


                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-5">
                    <img src="../../assets/saone.jpg" width="100%" height="100%">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pt-5">
                <h4>Waar moet je op letten</h4>
                Tijdens de laatste 30 kilometer hing, kregen we te maken met plotseling regen en onweer. We besloten zo lang mogelijk door te fietsen.
                Het weer verslechterde snel. De lichte motregen werd windstoten en
                hagelstenen.<br> We schoten in lichte paniek en we raakten elkaar kwijt in de hektiek.
                Na een uur schuilen, vonden we elkaar mbv. onze smarphones en locatie delen.<br><br>

                <strong>Conclusies:</strong><br>
                <ul class="a">
                    <li>Het weer kan snel veranderen</li>
                    <li>Als je regen  en onweer aan ziet komen, heb dan vooraf een plan wat je gaat doen</li>
                    <li>Zoek het dichtst bijzijnde dorp op en ga daar schuilen tot de ergste bui over is</li>
                    <li>Neem allebei een opgeladen smartphone mee met data zodat je google maps kunt gebruiken</li>
                  </ul>

            </div>

        </div>




        <iframe src="https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d680996.8852574344!2d5.721978379915832!3d48.18171516026565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e1!4m5!1s0x4794986e17a692cd%3A0x4ed671b10d82498d!2sNancy%2C%20Frankrijk!3m2!1d48.692054!2d6.184417!4m5!1s0x4793a07d8ca9399f%3A0xed28a47550dd46de!2s%C3%89pinal%2C%20Frankrijk!3m2!1d48.172402!2d6.449402999999999!4m5!1s0x4793047d018cf7e1%3A0x8ae61a521a3111b7!2sLa%20V%C3%B4ge-les-Bains%2C%20Frankrijk!3m2!1d48.001134199999996!2d6.2631556999999995!4m5!1s0x4792560cfddc9855%3A0xe3dc399224613355!2sLuxeuil-les-Bains%2C%2070300%2C%20Frankrijk!3m2!1d47.816840899999995!2d6.381111!5e0!3m2!1snl!2snl!4v1662209329379!5m2!1snl!2snl"
        class="mt-5 mb-5" width="100%" height="600px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
       </iframe>

    </div>
</main>
