<!--Main layout-->
<main class="vennbahngrijs">
    <div class="container">

        <div class="row">
            <div class="col-md-12 pt-5">
                <h2>Remich - Nancy</h2>
                <h5>Etappe 3 - 160 KM</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 pt-5">
                     <h4>De route</h4>
                        Deze route is van Remich naar Nancy. Het eerste gedeelte van de route is opnieuw langs grote wegen van Luxemburg.<br> <br>

                        Zodra je Luxemburg verlaat, verlaat je ook de drukte en kom je in eerst wat rommelig maar later fraai frans landschap.
                        Je steekt hierbij meerdere keren de Moezel over wat ons deed denken aan de reclame van Krombacher.

                        De eerste grote stad die je tegenkomt is Thionville.<br>
                        Via deze stad kun je langs de Moezel
                        in één rechte lijn naar Metz.
                        Metz zelf is een prachtige stad.
                        De aansluiting naar Nancy is wat moeilijk vindbaar.<br><br>


                        Na Metz gaat het fietspad langs de Moezel verder. Je steekt tientallen keren de Moezel over, soms via een
                        eilandje. Soms moet je samen met autoverkeer de Moezel oversteken maar vaker heb je de brug voor jezelf.
                        30 kilometer voor Nancy moet je een stukje over de autoweg maar ruim voor Nancy ben je weer op het fietspad langs de
                        Moezel.


                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-5">
                    <img src="../../assets/Tjeerd Metz.jpg" width="100%" height="100%">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pt-5">
                <h4>Waar moet je op letten</h4>
                Het was deze dag meer dan 38°C. Dit is op zich te warm om te fietsen.
                Wij hebben daarom in de middag tussen 13:00 en 16:00 besloten een pauze te nemen en daarna pas
                verder te gaan. Het bleef echter warm.
                Zorg er voor dat je altijd ergens een supermarkt in de buurt kan vinden met je GPX of mobiel.
            </div>

        </div>




        <iframe src="https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d668516.4957424864!2d5.638061432121734!3d49.117179221720065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e1!4m5!1s0x47956a82d97e841b%3A0x400d1d6d1057160!2sRemich%2C%20Luxemburg!3m2!1d49.545016999999994!2d6.3674222!4m5!1s0x479525297d62f987%3A0xa7af8d1a441ac977!2sThionville%2C%20Frankrijk!3m2!1d49.357571!2d6.168425999999999!4m5!1s0x4794dc1b6074b6a9%3A0x596be4b635bba669!2sMetz%2C%20Frankrijk!3m2!1d49.1193089!2d6.175715599999999!4m5!1s0x4794986e17a692cd%3A0x4ed671b10d82498d!2sNancy%2C%20Frankrijk!3m2!1d48.692054!2d6.184417!5e0!3m2!1snl!2snl!4v1662144055599!5m2!1snl!2snl"
        class="mt-5 mb-5" width="100%" height="600px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
       </iframe>

    </div>
</main>
