<div class="navbar-collapse" id="navbarExample01">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item active">
      <a class="nav-link" aria-current="page" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/voorbereiding">Voorbereiding</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Etappes
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a href="#" routerLink="/stvith" class="dropdown-item">1. Maastricht - St Vith</a>
        <a href="#" routerLink="/remich" class="dropdown-item">2. St Vith - Remich</a>
        <a href="#" routerLink="/nancy" class="dropdown-item">3. Remich - Nancy</a>
        <a href="#" routerLink="/luxeuil" class="dropdown-item">4. Nancy - Luxeuil</a>
        <a href="#" routerLink="/gray" class="dropdown-item">5. Luxeuil - Gray</a>
        <a href="#" routerLink="/beaune" class="dropdown-item">6. Gray - Beaune </a>
      </div>
    </li>
  </ul>
</div>
