<!--Main layout-->
<main class="vennbahngrijs">
  <div class="container">

    <div class="row pt-5">
      <div class="col-md-6">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="../assets/kasteel.jpg"  class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        Welkom op mijn website waar ik iets wil vertellen over mijn fietstocht naar Zuid Frankrijk. Ik
        ben Tjeerd Suierveld, 20 jaar.<br><br>

        Mijn vader had het plan eens naar Zuid Frankrijk te fietsen. Deze zomer, de zomer van 2022, was het zover en ik besloot mee te gaan.<br>
        We vetrokken vanuit <a href="https://www.bezoekmaastricht.nl/" target="_blank">Maastricht</a> met het doel te fietsen naar
        <a href="https://zonnigzuidfrankrijk.nl/provence-2/steden/seillans/" target="_blank">Seillans</a>. De zus van mijn vader, mijn tante dus,
        had daar een bungalow met zwembad gehuurd. Op zich dus een prettig vooruitzicht.
        <div class="row">
          <div class="col-md-8 pt-5">
              De afstand was ongeveer 1200 km. Een flink stuk dus waarbij we de planning
              hadden van +/- 100-150 km. per dag fietsen.
          </div>
          <div class="col-md-4 pt-2">
            <img src="../assets/kaartje.jpg"  class="img-fluid" />
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 pt-5">
          Graag wil ik ervaringen delen met anderen die van plan zijn een soortgelijke tocht te ondernemen.
          Zelf hebben we onze inspiratie opgedaan op de website van
          <a href="https://www.cyclingeurope.nl/routes/soleil/index.php" target="_blank">cycling europe</a>. We hebben
          <a href="https://webshop.fietsvakantiewinkel.nl/veloroute-du-soleil-maastricht-avignon" target="_blank">dit</a> boekje gekocht.
          Het boekje hebben we nauwelijks gebruikt en ook thuisgelaten. De gpx bestanden waren wel essentieel en hebben we ingeladen op de fietsnavigatie.
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 pt-5">
          <h4>Voorbereiding</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="a">
          <li>Goed materiaal, maar dat is logisch ;-)</li>
          <li>Fietsnavigatie</li>
          <li>Fietsnavigatie backup</li>
          <li>Hotels boeken op of vlakbij route</li>
        </ul>
      </div>
    </div>


    <div class="row pt-5">
      <div class="col-md-6">
          <h5>Goed materiaal</h5>
          Mijn vader had een zadeltas en tas onder het frame. Ik had een rugtas. Dit bleek achteraf voldoende.
          In de zadeltas had mijn vader een paar sneakers, wat basiskleding, een regenjas en toiletspullen.
          Net voldoende zeg maar om in de avond ook nog wat rond te kunnen lopen en een restaurantje te
          bezoeken.

          <h5 class="pt-5">Fietsnavigatie</h5>
          We hadden een <a href="https://www.mio.com/nl_nl/cyclo-210" target="_blank">mio</a> fietsnavigatie
          gemonteerd. Eerste tip: monteer een <strong>houder voor op beide fietsen</strong>
      </div>
      <div class="col-md-6">
        <img src="../assets/start.jpg"  class="img-fluid" />
      </div>
    </div>







  </div>
</main>
