<!--Main layout-->
<main class="vennbahngrijs">
    <div class="container">

        <div class="row">
            <div class="col-md-12 pt-5">
                <h2>Tournon - Orange</h2>
                <h5>Etappe 9 - 160 KM</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 pt-5">
                      <h4>De route</h4>
                      Deze route gaat van Tournon naar Orange.
                      Vanaf Lyon ben ik alleen verder gefietst. Mijn vader had zitvlakproblemen en teveel pijn om verder te fietsen.
                      Hij is opgepikt door mijn moeder en broer want we hadden afgesproken in hetzelfde hotel in Tournon.<br><br>

                      De route gaat eerst langs de Rhone en vervolgens door de stad Valance.
                      De route is 20 km lang en loopt geleidelijk naar beneden. <br> <br>

                      In Valance is onduidelijk waar de fietspaden zijn. Pas als je in het stadspark bent gekomen, kun je het fietspad verder
                      volgen. Je steekt na Valance een
                      brug over en dan kom je op een rustig rechtdoorgaand fietspad die helemaal naar Pont-Saint-Esprit loopt.
                      Dit fietspad loopt heel gelijdelijk naar beneden waarbij je makkelijk
                      snelheden van 40km per uur of meer kan halen.<br> <br>

                      Halverwege kom je een indrukwekkende kerncentrale tegen en een mooie hangbrug zoals te zien is op de foto.
                      Als je bij Pont-Saint-Esprit bent aangekomen, moet je richting Orange. Dit is vooral over rustige landwegen. <br> <br>

                      Het is misschien niet de mooiste route maar wel de route waarmee je snel kilometers maakt.
                      De route is een lichte afdaling, je hebt wind mee en het wegdek is goed. Bovendien kom je bijna niemand tegen.

                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-5">
                    <img src="../../assets/Kasteel brug.jpg" width="100%" height="100%">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pt-5">
               <h4>Waar moet je op letten</h4>
               De meeste bruggen in Frankrijk hebben geen rijstrook voor fietsers. Je kunt daarom als het druk is het beste over de stoep fietsen.
            </div>
        </div>

        <div class="row">
          <div class="col-md-12 pt-5">
            <ng2-adsense
            [display]="'inline-block'"
            [width]="800"
            [height]="110">
            </ng2-adsense>
          </div>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m38!1m12!1m3!1d91458.3393486832!2d4.660410910045979!3d44.24673823091081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m23!3e1!4m5!1s0x47f5433605656dd7%3A0x4093cafcbeb8220!2sTournon-sur-Rh%C3%B4ne%2C%20Frankrijk!3m2!1d45.067915!2d4.8321369999999995!4m5!1s0x47f55799c63221c7%3A0x408ab2ae4bfb580!2sValence%2C%20Frankrijk!3m2!1d44.933392999999995!2d4.89236!4m3!3m2!1d44.6391622!2d4.7546712!4m5!1s0x12b590b375eebce1%3A0xad1d8ad5844581fa!2sOrange%2C%20Frankrijk!3m2!1d44.138098899999996!2d4.807511!5e0!3m2!1snl!2snl!4v1663001983159!5m2!1snl!2snl"
        class="mt-5 mb-5" width="100%" height="600px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
       </iframe>

    </div>
  </main>




