<!--Main layout-->
<main class="vennbahngrijs">
    <div class="container">

        <div class="row">
            <div class="col-md-12 pt-5">
                <h2>Manosque - Seillans</h2>
                <h5>Etappe 11 - 110 KM</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 pt-5">
                     <h4>De route</h4>
                     Deze route is van Manosque naar Seillans. Je verlaat Manosque zuidelijk en hier is nog een klein stukje fietspad.
                     Voor de rest fiets je over provinciale wegen.
                     <br> <br>
                     Het eerste dorp is Vinon-sur-Verdon. Na dit dorp krijg je de eerste en direct meest stijle klim.
                     De rest van de route verloopt de klim geleidelijk.
                     <br> <br>

                     Wanneer je het dorp Montmeyan bereikt, is het belangrijk om op de hoofdweg te blijven.
                     Ik koos zelf een google maps route afwijkend van ee hoofdweg maar kwan op paden niet geschikt voor racefietsen.<br> <br>

                     Op de hoofdweg kom je na Montmeyan uit in Aups. Vervolgens kun je over bergwegen naar Seillans.
                     Voor Seillans volgt nog een kleine afdaling. Ik kwam aan in Seillans en heb mijn tocht volbracht.
                     Ik kreeg een mooi onthaal van mijn familie en ik sprong gelijk in het zwembad.
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-5">
                    <img src="../../assets/Eind.jpg" width="100%" height="100%">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pt-5">
                <h4>Waar moet je op letten</h4>
                Ik zou het niet aanraden om via Draguignan te fietsen.
                Er zijn veel kronkelwegen smal en zonder fietspad en er wordt hard gereden.
            </div>
        </div>


        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d117583.99306942214!2d6.167075549846356!3d43.61585537834915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e1!4m5!1s0x12cbcdb3ba6c6b09%3A0x1bd50854176f8011!2sManosque%2C%20Frankrijk!3m2!1d43.835744!2d5.790916!4m5!1s0x12cc1d1917ffd8af%3A0x40819a5fd8fc900!2sSeillans%2C%20Frankrijk!3m2!1d43.636241999999996!2d6.643412!5e0!3m2!1snl!2snl!4v1663759612377!5m2!1snl!2snl"
        class="mt-5 mb-5" width="100%" height="600px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
       </iframe>

       <div><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8239777228243047"
        crossorigin="anonymous"></script>
            <!-- blokje test vast -->
          <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-8239777228243047"
        data-ad-slot="5466555574"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        </div>

    </div>
</main>

