/* You can add global styles to this file, and also import other style files */
.navbar .nav-link {
  color: #fff !important;
}
.vennbahngrijs{
   background-color: #D4D5DB;
}

body, html {
  height: 100%;
  background-color:#D4D5DB !important;
}
.font_small {
  font-size: small;
}
.font_red {
  color:red;
}
