/* You can add global styles to this file, and also import other style files */
.navbar .nav-link {
  color: #fff !important;
}
.vennbahngrijs{
   background-color: #D4D5DB;
}
// footer {
//   background-color:rgba(88,90,102,1);
// }
// .background-intro {
//   background: rgb(215,214,221);
//   background: linear-gradient(180deg, rgba(215,214,221,1) 0%, rgba(78,101,47,1) 72%, rgba(215,214,221,1) 100%);
//   background-size:cover;
// }

body, html {
  height: 100%;
  background-color:#D4D5DB !important;
}
.font_small {
  font-size: small;
}
.font_red {
  color:red;
}
.font_blue {
  color:turquoise;
}

#intro {
  background-image: url("../assets/vennbahn.jpg");
  height: 100vh;
  background-repeat:no-repeat;
  background-size:cover;
}

#navbar-mobile {
    display:none;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

@media (max-width: 992px) {
  #navbar-mobile {
    display:block;
  }
  .logo-mobile {
    display:none;
  }
  .ad-w {
    width:300;
  }
}

.trans-logo{
  width:100px;
  height: 100px;
  position: absolute;
  background-color: transparent;
  top:0px;
  left:92%;
  z-index: 99999;
}
