<!--Main layout-->
<main class="vennbahngrijs">
    <div class="container">

        <div class="row">
            <div class="col-md-12 pt-5">
                <h2>Charentay - Tournon</h2>
                <h5>Etappe 8 - 180 KM</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 pt-5">
                      <h4>De route</h4>
                        Deze route is van Charentay naar Tournon. We verlieten het kasteel en werden uitgezwaaid door de
                        vriendelijke gastheer en gastvrouw. We moesten weer een stuk door het binnenland alvorens de Saône te bereiken.
<br><Br>
                        Helaas was het fietspad langs de Saône voor een groot deel gravelpad soms met flinke gaten. Na een paar
                        kilometer hebben we daarom bewust het pad verlaten en zijn we over binnenwegen gegaan. De wegen waren hier over meer
                        heuvelig terrein maar nog wel goed te doen. <br> <br>

                        Na een afdaling in Trevoux kamen we weer bij de rivier en konden we langs de rivier richting Lyon.
                        In Lyon liggen fietspaden maar soms is het onduidelijk. Er is uiteraard veel verkeer. Leuk is dat je door een lange
                        <a href="https://goo.gl/maps/SubMNxPTU64YjSuTA" target="_blank">tunnel</a> gaat alleen toegankelijk voor fietsers. Het was ook deze dag erg warm en dan is zo'n tunnel heerlijk koel.

                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-5">
                    <img src="../../assets/Tunnel samen.jpg" width="100%" height="100%">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pt-5">
               <h4>Waar moet je op letten</h4>
               Rijd rustig door Lyon en volg je navigatie goed. Kijk tegelijkertijd goed uit. De scheiding fietspad/voetpad/autoweg is
               vaak onduidelijk.
            </div>
        </div>

        <div class="row">
          <div class="col-md-12 pt-5">
            <app-adsensechild></app-adsensechild>
          </div>
        </div>


        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d601575.4244124582!2d4.403487303757441!3d45.53437742584441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e1!4m5!1s0x47f4823b4590239f%3A0xdc9c9a7b1b0bbc98!2sCharentay%2C%20Frankrijk!3m2!1d46.087950899999996!2d4.680218!4m5!1s0x47f5433605656dd7%3A0x4093cafcbeb8220!2sTournon-sur-Rh%C3%B4ne%2C%20Frankrijk!3m2!1d45.067915!2d4.8321369999999995!5e0!3m2!1snl!2snl!4v1662736504351!5m2!1snl!2snl"
        class="mt-5 mb-5" width="100%" height="600px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
       </iframe>

    </div>
  </main>



